/* Add styles here */
@font-face {
  font-family: 'Libre';
  src: url('./fonts/LibreBaskerville-Regular.ttf');
}
:root {
  --light-input-color: #e8e2d9;
  --light-color: #d4c2b420;
  --text-color: #6a5c55;
  --text-color-light: #6a5c5570;
  --max-screen: 1024px;
  --button-green: #5f7268;
}

* {
  font-family: 'Libre', sans-serif;
}

body {
  font-family: 'Libre', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-sec-color {
  color: var(--text-color) 70%;
}

.text-color {
  color: var(--text-color);
}

.bg-light {
  background: var(--light-color);
}

header a {
  min-width: 120px;
}

header .container {
  margin: 1rem auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header {
  width: 100%;
  background: var(--light-color);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .name {
  font-size: 24px;
  color: var(--text-color);
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: baseline;
}

header .min {
  font-size: 18px;
  color: var(--text-color-light);
}

header .links {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  text-align: center;
}

header a {
  color: var(--text-color);
  text-decoration: none;
  overflow-y: hidden;
}

.hero.container-img {
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: calc(100vh - 60px);
  overflow: hidden;
  display: grid;
  justify-content: center;
}

.hero .img {
  width: 100%;
  overflow-y: hidden;
}
.hero .main-name {
  font-size: 30px;
  font-weight: bolder;
}

.hero small {
  font-size: 20px;
  font-weight: normal;
}



h1 {
  text-align: center;
  font-size: 24px;
  color: var(--text-color);
  font-weight: bolder;
}

main.container {
  max-width: var(--max-screen);
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

main.container {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  gap: 2rem;
}

.row .col {
  display: grid;
  place-content: center;
}

main img {
  aspect-ratio: 9/16;
  max-width: 15rem;
  -webkit-box-shadow: 0px 10px 19px -4px rgba(147, 125, 115, 1);
  -moz-box-shadow: 0px 10px 19px -4px rgba(147, 125, 115, 1);
  box-shadow: 0px 10px 19px -4px rgba(147, 125, 115, 1);
  border-radius: 10px;
}

main.bio .title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

main.bio .title-section p {
  width: 100%;
  text-align: center;
  color: var(--text-color-light);
}

main.bio .title-section img {
  border-radius: 99999px !important;
  aspect-ratio: 1/1;
  height: 15rem;
}

main.bio section.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
}

section.bio {
  height: calc(100vh - 32.6rem) !important;
}

main.bio section.bio p {
  max-width: var(--max-screen);
  text-align: justify;
  font-style: italic;
}

main.bio section.bio p.strong {
  font-weight: bolder;
  font-size: 24px;
}

footer {
  width: 100vw;
  display: grid;
  place-content: center;
}

footer p {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-style: italic;
  font-weight: bold;
  color: var(--text-color-light);
}

main.contact {
  height: calc(100vh - 11rem);
}

main.paint {
  height: calc(100vh - 11rem);
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--light-color); /* Light gray background */
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-custom {
  background-color: var(--light-input-color); /* Light beige input fields */
  border: none;
  padding: 12px 20px;
  margin-bottom: 15px;
}

.message-custom {
  background-color: #e9ecef; /* Light beige textarea */
  border: none;
  padding: 15px 20px;
  margin-bottom: 20px;
  resize: none; /* Prevent resizing of the textarea */
}

.send-button {
  background-color: var(--button-green); /* Dark olive green button */
  color: white;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.send-button:hover {
  background-color: #6b8e23; /* Slightly lighter olive green on hover */
}

.image-container-paint {
  max-width: 80%; /* Adjust as needed */
  max-height: 80%; /* Adjust as needed */
}

.piece-name {
  font-size: 2em;
  font-weight: bold;
  color: #556b2f; /* Dark olive green for the title */
}

.piece-description {
  font-size: 1.1em;
  line-height: 1.6;
  color: #666; /* Medium gray for the description */
}